<h1>Editing utilisateur</h1>

<%= render "form", utilisateur: @utilisateur %>

<br>

<div>
  <%= link_to "Show this utilisateur", @utilisateur %> |
  <%= link_to "Back to utilisateurs", utilisateurs_path %>
</div>
