<table  class="styled-table" id="ressources">
	<tr>
		<th>Matière</th>
		<th>Epaisseur</th>
		<th>Forme</th>
		<th>Dimensions</th>
		<th>Couleur</th>
		<th>Qualité</th>
	</tr>
    <%= render ressources %> 
</table>