<table  class="styled-table" id="ressources">
	<tr>
		<th>Matière</div>
		<th>Epaisseur</div>
		<th>Dimensions</div>
		<th>Couleur</div>
		<th>Qualité</div>
	</tr>
    <%= render ressources %> 
</table>