<tr>
    <td><%= ressource.quantite_utilisee %></td>
    <td><%= ressource.quantite_achetee %></td>
    <td><%= ressource.quantite_utilisee - ressource.quantite_achetee %></td>
    <td><%= link_to ressource.nom_complet, ressource %></td>   
</tr>