<h1>Editing ressource</h1>

<%= render "form", ressource: @ressource %>

<br>

<div>
  <%= link_to "Show this ressource", @ressource %> |
  <%= link_to "Back to ressources", ressources_path %>
</div>
