<table  class="styled-table" id="ressource">
	<tr>
		<th>Matière</div>
		<th>Epaisseur</div>
		<th>Dimensions</div>
		<th>Couleur</div>
		<th>Qualité</div>
	</tr>
	<%= render @ressource %>
	<tr><td><%= link_to "Modifier cette ressource", edit_ressource_path(@ressource) %></td></tr>
</table>
<p>
	<%= link_to "Liste des ressources", ressources_path %>
</p>