<table  class="styled-table" id="ressource">
	<tr>
		<th>Matière</div>
		<th>Epaisseur</div>
		<th>Dimensions</div>
		<th>Couleur</div>
		<th>Qualité</div>
	</tr>
	<%= render @ressource %>
</table>
<div><%= link_to "Modifier cette ressource", edit_ressource_path(@ressource) %></div>
<p>
	<%= link_to "Liste des ressources", ressources_path %>
</p>