
  <table id="commandes"  class="styled-table">
    <th>Date de commande</th>
    <th>Quantité</th>
    <th>Ressource</th>
    <th>Chantier</th>
    <th>Commentaire</th>
    <th>Status</th>
    <%= render commandes %>
  </table>
