
  <table id="commandes"  class="styled-table">
  <tr>
    <th>Date de commande</th>
    <th>Quantité</th>
    <th>Ressource</th>
    <th>Chantier</th>
    <th>Numéro de commande</th>
    <th>Status</th>
  </tr>
    <%= render commandes %>
  </table>
