<table id="achat"   class="styled-table">
  <%= render @commande %>
</table>

<div>
  <%= link_to "Modifier cette commande", edit_commande_path(@commande) %> |
  <%= link_to "Liste des commandes", commandes_path %>
</div>
