<table id="commande"   class="styled-table">
  <%= render @commande %>
</table>

<h2>Achats de cette commande</h2>

<%= render "commandes/ressources", commande: @commande %>

<% @commande.chantiers.each do |chantier| %>

  <h3><%= chantier.nom_complet %></h3>
  <%= render "achats/achats", achats: chantier.achats.where(commande_id: @commande.id) %>

<% end %>


