<table id="achats"  class="styled-table">
  <tr>
    <th>Date de achat</th>
    <th>Quantité</th>
    <th>Ressource</th>
    <th>Chantier</th>
    <th>Commande</th>
    <th>Status</th>
  </tr>
  <%= render achats %>
  </table>
