<table id="ressources_a_acheter" class="styled-table">
  <tr>
    <th>Ressource</th>
    <th>Quantité à acheter</th>    
  </tr>  
    <% ressources.each do |ressource| %>
        <%= render partial: "ressource_a_acheter", locals: { ressource: ressource } %>
    <% end %>
  </table>