<table id="achat"   class="styled-table">
  <%= render @achat %>
</table>


<div>
  <%= link_to "Modifier cet achat", edit_achat_path(@achat) %> |
  <%= link_to "Liste des achats", achats_path %>

  <%= button_to "Supprimer cet achat", @achat, method: :delete %>
</div>
