<tr id="<%= dom_id client %>">
  <td>
    <%= link_to client.nom, client, data: { turbo: false } %></td>
  </td>

  <td><%= link_to "Modifier", edit_client_path(client), data: { turbo: false } %></td>

</tr>
