<tr>
    <td><%= utilisation.quantite %></td>
    <td><%= utilisation.ressource.nom_complet %></td>
    <td><%= link_to utilisation.chantier.nom_complet, utilisation.chantier, data: { turbo: false } %></td>
    


</tr>
