
  <table id="utilisations" class="styled-table">
    <th>Date</th>
    <th>Quantité</th>
    <th>Ressource</th>
    <th>Machine</th>
    <th>Chantier</th>
    <th>Status</th>
    
    <%= render utilisations %>

  </table>
