
  <table id="utilisations" class="styled-table">
  <tr>
    <th>Date</th>
    <th>Quantité</th>
    <th>Ressource</th>
    <th>Machine</th>
    <th>Chantier</th>
    <th>Status</th>
  </tr>  
    <%= render utilisations %>

  </table>
