<h1>Editing utilisation</h1>

<%= render "form", utilisation: @utilisation %>

<br>

<div>
  <%= link_to "Show this utilisation", @utilisation %> |
  <%= link_to "Back to utilisations", utilisations_path %>
</div>
