<table id="utilisation"   class="styled-table">
	<%= render @utilisation %>
	<tr><td><%= link_to "Modifier cette utilisation", edit_utilisation_path(@utilisation) %></td></tr>
</table>
<p>
	<%= link_to "Liste des utilisations", utilisations_path %>
</p>
