<h1>Chantiers</h1>

<p>
  <%= link_to "Nouveau chantier", new_chantier_path %>
</p>

<table id="chantiers"  class="styled-table">
  <tr>
    <th>Chantier</th>
    <th>Achats à passer?</th>
  </tr>
  <% @chantiers.each do |chantier| %>
    <%= render chantier %>
  <% end %>
</table>

