<h1>Chantiers</h1>

<%= form_with url: list_chantiers_path, data: { controller: "search-form", search_form_target: "form" } do |form| %>
    <%= form.text_field :nom, placeholder: "Nom du chantier", autocomplete: "off", data: { action: "input->search-form#search" } %>
<% end %>

<%= render "chantiers", chantiers: @chantiers %>

