<h1>Chantiers</h1>

<p>
  <%= link_to "Nouveau chantier", new_chantier_path %>
</p>

<table id="chantiers"  class="styled-table">
  <% @chantiers.each do |chantier| %>
  <tr id="<%= dom_id chantier %>">
    <%= render chantier %>
  </tr>
  <% end %>
</table>

