<h1>Chantiers</h1>

<%= form_with url: list_chantiers_path, data: { controller: "search-form", search_form_target: "form" } do |form| %>
    <%= form.text_field :nom, placeholder: "Nom du chantier", autocomplete: "off", data: { action: "input->search-form#search" } %>
<% end %>

<h2>Chantiers actifs</h2>

<%= render partial: 'chantiers', locals: {chantiers: @chantiers_actifs, chantiers_id: "chantiers_actifs"} %>

<h2>Chantiers cloturés</h2>

<%= render partial: "chantiers", locals: {chantiers: @chantiers_clotures, chantiers_id: "chantiers_clotures"} %>

