<h1>Fournisseurs</h1>

<div id="fournisseurs">
  <% @fournisseurs.each do |fournisseur| %>
    <%= render fournisseur %>
  <% end %>
</div>

<%= link_to "Nouveau fournisseur", new_fournisseur_path %>
