<table  class="styled-table" id="matiere">
	<tr>
		<th>Nom</th>
	</tr>
	<%= render @matiere %>
  <tr><td><%= link_to "Modifier cette matiere", edit_matiere_path(@matiere) %></td></tr>
</table>
<h2>Ressources associées à cette matière</h2>

<%= render "ressources/ressources", ressources: @matiere.ressources %>
<p>
	<%= link_to "Liste des matieres", matieres_path %>
</p> 